/* Base styles for the chessboard */
.chessboard {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

body {
  overflow: hidden; /* Hide scrollbars */
}

/* Style for the individual squares */
.chessboard-square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  font-size: 32px;
  cursor: pointer;
}

/* Styles for the black squares */
.chessboard-square--black {
  background-color: #b58863;
  color: #f0d9b5;
}

/* Styles for the white squares */
.chessboard-square--white {
  background-color: #f0d9b5;
  color: #b58863;
}

/* Styles for the selected square */
.chessboard-square--selected {
  background-color: #0070f3;
  color: #fff;
}

/* Styles for the pieces */
.chessboard-piece {
  font-family: "Chess Merida Unicode", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

/* Styles for the white pieces */
.chessboard-piece--white {
  color: #f0d9b5;
}

/* Styles for the black pieces */
.chessboard-piece--black {
  color: #b58863;
}
